<a href="https://colab.research.google.com/github/Lfahima/google-colab/blob/main/hha507class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading packages

In [9]:
import pandas as pd
import seaborn as sns
import plotly as plt

In [10]:
!pip freeze > packages.txt

# Creating Functions

In [4]:
def bloodpressure(systolic, diastolic):
  total = systolic + diastolic
  return total

In [6]:
def bloodsugar(value):
  valuetoprint = f"your blood sugar is {value}"
  return valuetoprint

# Testing Functions

In [5]:
# Test for Blood pressure

test1 = bloodpressure(190, 155)
test1

345

In [8]:
test2 = bloodsugar(200)
print(test2)

your blood sugar is 200

In [12]:
test3 = bloodsugar(500)
print(test3)

your blood sugar is 500

In [14]:
print(f"\n {test2} \n {test3}")

 your blood sugar is 200
 your blood sugar is 500

# Pandas data laoding

## Examples 1 with CSV files

In [18]:
## Loading in the file first
df = pd.read_csv('https://raw.githubusercontent.com/hantswilliams/HHA_504_2023/main/WK1/data/113243405_StonyBrookEasternLongIslandHospital_standardcharges.csv')

In [19]:
df

,Code,Description,Type,Package/Line_Level,Gross charge,Discounted cash price,De-identified min contracted rate,De-identified max contracted rate,Derived contracted rate,AETNA-Commercial HMO/POS,...,HandM-Commercial HMO/POS,HEALTHFIRST-Commercial HMO/POS,BLUE CROSS-Medicaid HMO,UNITED HEALTHCARE-Commercial HMO/POS,UNITED HEALTHCARE-Medicare Advantage HMO,INTEGRATED HEALTH-Commercial HMO/POS,MOLINA-Medicaid HMO,TUFTS HEALTH-Commercial HMO/POS,UNITED HEALTHCARE-Commercial PPO/Open Access,UNITED HEALTHCARE-Medicaid HMO
0,10060,SIMPLE OR SINGLE DRAINAGE OF SKIN ABSCESS,Outpatient,Line,575.75,575.75,384.69,786.90,585.80,NaN,...,NaN,384.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10060,SIMPLE OR SINGLE DRAINAGE OF SKIN ABSCESS,Outpatient,Package,575.75,575.75,384.69,786.90,585.80,NaN,...,NaN,384.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10080,SIMPLE DRAINAGE OF CYST OF TAILBONE,Outpatient,Line,548.00,548.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10080,SIMPLE DRAINAGE OF CYST OF TAILBONE,Outpatient,Package,7675.00,7675.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10120,"REMOVAL OF FOREIGN BODY FROM TISSUE, ACCESSED ...",Outpatient,Line,487.00,487.00,371.66,371.66,371.66,NaN,...,NaN,371.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2983,U0002,SARS COV 2 RNA,NaN,NaN,518.95,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2984,V2632,INTRAOCCULAR LENS,NaN,NaN,1696.10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985,V2632,PANOPTIX IOL,NaN,NaN,2985.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2986,V2785,CORNEAL GRAFT,NaN,NaN,16388.10,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987,V2790,AMBIO DRY 2,NaN,NaN,2211.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Example 2 of loading CSV

In [22]:
dataset2 = pd.read_csv('sample_data/california_housing_test.csv')
dataset2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

## Data Example 3

In [23]:
cancer = pd.read_csv('cancer_deaths.csv')
cancer

   Years  Historical Data  Target
0   2011            191.0     0.0
1   2012            189.9     0.0
2   2013            185.7     0.0
3   2014              0.0     0.0
4   2015              0.0     0.0
5   2016              0.0     0.0
6   2017              0.0     0.0
7   2018              0.0     0.0
8   2019              0.0   180.3

## Data Example 4

In [24]:
gun_df = pd.read_csv('children_deaths.csv')

In [25]:
gun_df

,Incident ID,Incident Date,State,City Or County,Address,Victims Killed,Victims Injured,Suspects Killed,Suspects Injured,Suspects Arrested,Operations
0,2695116,30-Aug-23,Georgia,Atlanta,2909 Campbellton Rd SW,1,2,0,0,0,NaN
1,2694938,30-Aug-23,Indiana,Gary,2400 block of Fillmore St,1,0,0,0,0,NaN
2,2693825,28-Aug-23,Texas,Allen,1211 Aberdeen Dr,3,0,1,0,0,NaN
3,2692267,27-Aug-23,Florida,Lake Wales,NaN,2,0,1,0,0,NaN
4,2693375,27-Aug-23,Tennessee,Rockwood,100 block of Airport Rd,1,0,0,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1995,224855,24-Nov-14,North Carolina,Peachland,Horne Store Road,1,0,1,0,0,NaN
1996,224070,23-Nov-14,Minnesota,Rochester,4500 block of Fifth Street Northwest,1,0,1,0,0,NaN
1997,223284,20-Nov-14,Indiana,Elkhart,2100 block of Morton Avenue,1,0,0,0,0,NaN
1998,222932,20-Nov-14,New Jersey,Tabernacle,Holly Park Drive,4,0,0,0,0,NaN
1999,222582,18-Nov-14,Georgia,Savannah,200 block of Hampstead Avenue,1,0,0,0,0,NaN